resource_group_name   = "poc-rg"
location              = "East US"
storage_account_name  = "pocstorageacct"
vnet_name             = "poc-vnet"
subnet_name           = "poc-subnet"
nic_name              = "poc-nic"
vm_name               = "poc-vm"
vm_size               = "Standard_DS1_v2"
admin_username        = "azureuser"
admin_password        = "ChangeMe123!"
